#main-title {
  text-align: center;
  margin: auto;
}

.tile {
  height: 10px;
  width: 10px;
  margin: 0;
  padding: 0;
}

.live-cell {
  background-color: chartreuse;
}

.dead-cell {
  background-color: antiquewhite;
}

