#main-title {
  text-align: center;
  margin: 1em auto 2em;
}

button {
  margin: 1em;
  display: inline-block;
}

.game-window {
  height: 650px;
  width: 650px;
  font-size: 0;
}

#tile-container {
  display: inline-block;
  border: 3px solid black;
}

.centerer {
  text-align: center;
}

.tile {
  height: 10px;
  width: 10px;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  font-size: 1;
}

.tile-border {
  box-shadow: inset 0px 0px 0px 1px gray; 
  box-sizing: border-box;
}

.live-cell {
  background-color: green;
}

.dead-cell {
  background-color: rgb(224, 224, 224);
}

.speed-button {
  border: 2px solid black;
  background-color: darkgray;
  text-align: center;
  width: 10em;
  margin: auto;
  margin-bottom: 4px;
}

.pressed-button {
  background-color: rgb(83, 82, 82);
}

.left-float {
  float: left;
  position: absolute;
}

.right-float {
  float: right;
  position: absolute;
}

#control-panel {
  width: 400px;
}

.transparent {
  background-color: transparent;
}

.hidden {
  display: none;
}

.absolute {
  position: absolute;
}